* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.card{
  background-color: rgb(98, 11, 11);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: rgb(8, 101, 111);
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
}